@font-face {
    font-family: 'Mazzard-MMedium';
    src: local('Mazzard Medium'), local('Mazzard-MMedium'),
    url('./fonts/MazzardM-Medium.woff2') format('woff2'),
         url('./fonts/MazzardM-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Mazzard-MSemiBold';
    src: local('Mazzard SemiBold'), local('Mazzard-MSemiBold'),
    url('./fonts/MazzardM-SemiBold.woff2') format('woff2'),
         url('./fonts/MazzardM-SemiBold.woff') format('woff')d};

@font-face {
    font-family: 'Mazzard-MLight';
    src: local('Mazzard Light'), local('Mazzard-MLight'),
    url('./fonts/MazzardM-Light.woff2') format('woff2'),
         url('./fonts/MazzardM-Light.woff') format('woff');
}

@font-face {
    font-family: 'MazzardL-ExtraLight';
    src: local('Mazzard ExtraLight'), local('MazzardL-ExtraLight'),
    url('./fonts/MazzardL-ExtraLight.woff') format('woff2'),
         url('./fonts/MazzardL-ExtraLight.woff2') format('woff');
}

@font-face {
    font-family: 'MazzardL-Thin';
    src: local('Mazzard Thin'), local('MazzardL-Thin'),
    url('./fonts/MazzardL-Thin.woff') format('woff2'),
         url('./fonts/MazzardL-Thin.woff2') format('woff');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 4;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.container-bg {
    background-color: #151D3D;
    width: 100%;
    height: 100%;
}

button {
    border: none;
    cursor: pointer;
}

button:active {
    border-color: #111730;
    background-color: #151D3D;
}

a {
    color: white;
    text-decoration: none;
}

.dapp-font {
    font-family: "Mazzard-MSemiBold", Helvetica;
    font-size: 36px;
    font-weight: 600;
    color: transparent;
    line-height: 67px;
    white-space: nowrap;
    background: linear-gradient(92deg, #4A9BE8 -40.15%, #FFF 104.82%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    background-clip: text;
}

.ellipse {
    width: 914px;
    height: 914px;
    border-radius: 100%;
    background: rgba(87, 134, 219, 0.58);
    filter: blur(335px);
    position: absolute;
    z-index: 2;
}

.rectangle {
    width: 150%;
    height: 650px;
    background: linear-gradient(260deg, rgba(0, 0, 0, 0.25) 3.23%, rgba(0, 0, 0, 0.00) 109.62%);
    position: absolute;
    z-index: 1;
}

.vector {
    width: 3369px;
    height: 424px;
    position: absolute;
    z-index: 2;
}

 /*Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-top: 46px;
}

.header-logo {
    width: 72px;
    height: 72px;
}

.header span {
    margin-left: -20%;
    font-family: "Mazzard-MSemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    color: transparent;
    line-height: 67px;
    white-space: nowrap;
    background: linear-gradient(92deg, #4A9BE8 -40.15%, #FFF 104.82%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header ul {
    height: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
        -webkit-justify-content: space-between;
        -ms-flex-pack: distribute;
    justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
    align-items: center;
    list-style-type: none;
    color: white;
}

.header a {
    color: white;
    text-decoration: none;
    transition: color 0.5s ease;
}

.header ul li{
    font-family: "Mazzard-MMedium", Helvetica;
    font-weight: 500;
    color: white;
    font-size: 18px;
    line-height: 38px;
    white-space: nowrap;
    margin-right: 43px;
}

.header a:hover {
    color: #4A9BE8;
}

.header-item:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #4A9BE8;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}

.header-item:hover:after {
    transform: scaleX(1);
}

.header-button {
    display: flex;
    margin-left: 10%;
    width: 340px;
    height: 60px;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 18px 58px;
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid;
    border-color: #38b9fc;
    font-family: "Mazzard-MLight", Helvetica;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}

.header-button:hover {
    border-radius: 16px;
    box-shadow: 0px 16px 19.3px #5e81ff3b;
}

.header ul li select {
    width: 70px;
    height: 44px;
    text-align: center;
    gap: 10px;
    border-radius: 7px;
    overflow: hidden;
    border: 1px solid;
    border-color: #38b9fc;
    background-color: transparent;
    font-family: "Mazzard-MMedium", Helvetica;
    font-weight: 500;
    background: #141d3c;
    color: #ffffff;
    font-size: 14px;
}


/* Burger menu */

.menu {
    display: none;
    z-index: 5;
}

.menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
}

.menu-list span {
    font-size: 24px;
}

.burger-checkbox {
    position: absolute;
    visibility: hidden;
}

.burger {
    position: relative;
    z-index: 6;
    left: 88%;
    margin-top: -5%;
    /* bottom: 90%; for fixed position if need */ 
    cursor: pointer;
    display: block;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
}

.burger::before,
.burger::after {
    content: '';
    right: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: white;
}

.burger::before {
    top: 0;
    box-shadow: 0 11px 0 white;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
}

.burger-checkbox:checked + .burger{
    position: fixed;
}

.burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}

.menu-list {
    z-index: 5;
    top: -27%;
    right: 0;
    position: absolute;
    display: grid;
    gap: 12px;
    padding: 42px 0;
    margin: 0;
    background: #141d3c;
    list-style-type: none;
    transform: translateX(100%);
    transition: .3s;
    width: 200px;
    height: 130vh;
}

.menu-item {
    display: block;
    padding: 8px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

.menu-item:hover {
    background: rgba(255,255,255,.2)
}

.burger-checkbox:checked ~ .menu-list {
    transform: translateX(0);
}

.menu-list .header-button {
    margin-left: 0;
    width: 170px;
    padding: 14px 32px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
}

.menu ul li select {
    width: 60px;
    height: 30px;
    text-align: center;
    border-radius: 7px;
    overflow: hidden;
    border: 1px solid;
    border-color: #38b9fc;
    background-color: transparent;
    font-family: "Mazzard-MMedium", Helvetica;
    font-weight: 500;
    background: #141d3c;
    color: #ffffff;
    font-size: 12px;
}
  

/* First screen */

.first-screen {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.ellipse-1 {
    right: 80%;
}

.f-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.first-screen .dapp-font {
    font-weight: 600;
    font-size: 96px;
    line-height: 110%;
}

.text-title {
    margin-top: 22px;
    color: #FFF;
    font-family: "Mazzard-MSemiBold";
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
}

.text {
    width: 640px;
    margin-top: 22px;
    color: #FFF;
    font-family: "Mazzard-MLight";
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
}

.first-screen-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
    padding: 18px 58px;
    gap: 10px;
    border-radius: 16px;
    background: #38B9FC;
    color: #FFF;
    font-family: "Mazzard-MMedium";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    text-transform: uppercase;
}

.first-screen-button:hover {
    box-shadow: 0px 16px 19.3px 0px rgba(94, 129, 255, 0.23);
}  

.ransomware {
    width: 600px;
    height: 600px;
}


/* Second screen */

.second-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 172px;
    position: relative;
}

.rectangle-1 {
    transform: rotate(-10deg);
}

.vector-1 {
    position: absolute;
    transform: translateX(-52vw);
    bottom: 5%;
}

.safebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    flex-wrap: wrap;
}

.safebox-img {
    width: 306px;
    height: 306px;
    object-fit: cover;
    margin-left: -80px;
}

.desc {
    width: 630px;
    color: #FFF;
    font-family: "Mazzard-MMedium";
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 60px;
    margin-top: -100px;
}

.dapp-text {
    color: linear-gradient(180deg, rgb(74, 155, 232) 0%, rgb(255, 255, 255) 100%);
    font-size: 48px;
    text-transform: uppercase;
}

.vertical-line {
    width: 1px;
    height: 555px;
    background: rgba(255, 255, 255, 0.41);
}

.numbers {
    width: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.text-1 {
    width: 205px;
    color: #FFF;
    font-family: "Mazzard-MMedium";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    margin-top: 160px;
    margin-left: 58px;
}

.lock {
    width: 511px;
    height: 511px;
    margin-top: -269px;
    margin-left: 220px;
}


/* Third screen */

.third-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    position: relative;
}

.vector-2 {
    transform: rotate(180deg) translateX(-52vw);
    position: absolute;
}

.cloud-lock {
    width: 287px;
    height: 287px;
    object-fit: cover;
}

.why {
    width: 631px;
    font-family: "Mazzard-SemiBold", Helvetica;
    font-weight: 600;
    color: transparent;
    font-size: 48px;
    text-align: center;
    line-height: 60px;
    color: #ffffff;
}
  
.web-3 {
    color: #38b9fc;
}

.p {
    width: 1005px;
    font-family: "Mazzard-MLight", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    line-height: 38px;
}
  

/* Fourth screen */

.fourth-screen {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.rectangle-2 {
    bottom: 30%;
    transform: rotate(-170deg);
}

.fourth-screen h2 {
    width: 100%;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
}

.fourth-screen .dapp-font {
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
}

.benefits-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.benefits-desc {
    width: 370px;
}

.benefits-desc img {
    margin-top: 60px;
    width: 108px;
    height: 108px;
}

.benefits-title {
    color: #FFF;
    text-align: center;
    font-family: "Mazzard-MSemiBold";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
}

.benefits-description {
    margin-top: -50px;
    color: #FFF;
    font-family: "Mazzard-MLight";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 38px;
}

.contact-button {
    margin-top: 50px;
    gap: 10px;
    padding: 24px 70px;
    background-color: #38b9fc;
    border-radius: 16px;
    overflow: hidden;
    font-size: 20px;
    color: white;
}

.contact-button:hover {
    box-shadow: 0px 16px 19.3px #5e81ff3b;
}


/* Fifth screen */

.fifth-screen {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.vector-3 {
    position: absolute;
    top: -20%;
    transform: rotate(180deg) translateX(-52vw);
}

.title {
    color: white;
    font-family: "Mazzard-MSemiBold";
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;

}

.how-works-2 {
    display: none;
}

.how-works-texts {
    display: flex;
    flex-wrap: wrap;
    width: 1400px;
    position: absolute;
    margin-left: 250px;
    margin-top: 80px;
}

.how-works-text {
    margin-top: 172px;
    margin-right: 30px;
    color: white;
    font-family: "MazzardL-ExtraLight";
    font-size: 20px;
    font-weight: 300;
    width: 278px;
    line-height: 31px;
}

.how-works-text storng {
    font-weight: 700;
}

.text-up {
    margin-top: 140px;
}


/* Sixth screen  */

.sixth-screen {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.rectangle-3 {
    height: 550px;
    transform: rotate(-10deg);
}

.vector-4 {
    position: absolute;
    transform: translateX(-52vw);
    top: -30%;
}

.sixth-screen .p {
    margin-top: 20px;
}

.clients-blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.client {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 278px;
    height: 145px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.21);
}

.client img {
    width: 80px;
    height: 74px;
}

.client-2 img {
    width: 110px;
    height: 60px;
}

.client-4 img {
    width: 70px;
    height: 70px;
}

.client .text {
    color: #FFF;
    font-family: "Mazzard-MLight";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sixth-screen .title {
    margin-top: 50px;
}

.dapp-font-blue {
    font-size: 48px;
    color: #38B9FC;
}


/* Seventh screen */

.seventh-screen {
    position: relative;
    margin-top: 200px;
    margin-left: 160px;
    margin-right: 160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ellipse-3 {
    bottom: 5%;
}

.contact-us {
    width: 430px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    flex-wrap: nowrap;
}

.contact-us .text {
    width: 342px;
    margin-top: 5%;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
}

.form-logo {
    margin-left: 50%;
    margin-top: 5%;
    width: 289px;
    height: 285px;
}

.form {
    width: 645px;
    height: 430px;
    margin-left: 60px;
    border-radius: 16px;
    background: #111730;
    display: flex;
    align-items: center;
}

.form-inputs input {
    margin-top: 9px;
    padding-left: 10px;
    color: #FFF;
    font-family: "Mazzard-MLight";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
}

.form-buttons input {
    display: none;
}

.name {
    width: 268px;
    height: 55px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.08);
    border: none;
}

.mail {
    width: 268px;
    height: 55px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.08);
    border: none;
}

.telegram {
    width: 540px;
    height: 55px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.08);
    border: none;
}

.project-info {
    width: 540px;
    height: 104px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.08);
    border: none;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8%;
}

.submit-button {
    margin-top: 32px;
    display: inline-flex;
    padding: 24px 58px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    border: none;
    background: #38B9FC;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}

.submit-button:hover {
    box-shadow: 0px 16px 19.3px 0px rgba(94, 129, 255, 0.23);
}

.att-file {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: none;
    cursor: pointer;
    margin-top: 5%;
    border: none;
    color: white;
    text-decoration: underline;
    font-family: "Mazzard-MMedium";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 38px;
}

.att-file:active {
    background-color: transparent;
}

.attach-file {
    margin-left: 5%;
    margin-right: 3%;
    width: 21px;
    height: 22px;
}


/* Footer */

.footer-line {
    margin-top: 90px;
    width: 100%;
    height: 4px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.08);
}

footer ul {
    margin-top: 30px;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background: rgba(199, 225, 219, 0.11);
      -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
}

.social-media img {
    margin-top: 80%;
    width: 200%;
    height: 200%;
}

.social-media:hover {
    box-shadow: 0px 16px 19.3px 0px rgba(94, 129, 255, 0.23);
}

.footer-wide-line {
    margin-top: 80px;
    width: 100%;
    height: 48px;
    /* border-radius: 8px; */
    background: rgba(255, 255, 255, 0.08);
    text-align: center;
}

.footer-wide-line span {
    color: #FFF;
    font-family: "Mazzard-MMedium";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
}



/* Adaptive */

@media screen and (max-width: 600px) { 
    .ellipse {
        width: 914px;
        height: 914px;
        border-radius: 100%;
        background: rgba(87, 134, 219, 0.58);
        filter: blur(335px);
        position: absolute;
        z-index: 2;
    }

    .ellipse-1 {
        top: -200px;
    }
    
    .rectangle {
        height: 320px;
        background: linear-gradient(260deg, rgba(0, 0, 0, 0.25) 3.23%, rgba(0, 0, 0, 0.00) 109.62%);
        position: absolute;
        z-index: 1;
    }

    .rectangle-1 {
        height: 280px;
        top: 50px;
    }
    
    .vector {
        width: 1000px;
        height: 150px;
        position: absolute;
        z-index: 2;
    }

    .vector-1 {
        margin-bottom: -100px;
    }

    .vector-2 {
        margin-bottom: -400px;
    }

    .vector-3 {
        margin-top: -50px;
    }

    /* Burger menu */

    header ul li {
        display: none;
    }

    .menu {
        display: block;
    }

    
    .first-screen {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        margin-top: -20%;
    }

    .f-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .first-screen .dapp-font {
        font-size: 43px;
    }

    .text-title {
        font-size: 22px;
    }

    .text {
        font-size: 18px;
        width: 90%;
    }

    .first-screen-button {
        margin-top: 21px;
        padding: 9px 29px;
        font-size: 12px;
    }

    .ransomware {
        width: 300px;
        height: 300px;
    }



    .second-screen {
        flex-direction: column;
        margin-top: 20px;
    }

    .safebox-img {
        margin-bottom: 12%;
        width: 140px;
        height: 140px;
    }

    .desc {
        width: 310px;
        font-size: 24px;
        line-height: 30px;
    }

    .dapp-text {
        font-size: 24px;
    }

    .vertical-line {
        width: 100%;
        height: 1px;
    }

    .numbers {
        width: 500px;
        justify-content: center;
        margin-right: 45px;
    }

    .text-1 {
        margin-top: 0;
        margin-left: 15px;
        width: 80px;
        font-size: 13px;
        line-height: 15px;
    }

    .lock {
        display: none;
        width: 250px;
        height: 250px;
        margin: 0;
    }


    .third-screen {
        margin-top: 70px;
    }

    .cloud-lock {
        width: 140px;
        height: 140px;
    }

    .why {
        width: 90%;
        font-size: 24px;
        line-height: 30px;
    }

    .p {
        margin-top: 12px;
        width: 95%;
        font-size: 14px;
        line-height: 20px;
    }


    .fourth-screen {
        margin-top: 100px;
    }

    .fourth-screen h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .fourth-screen .dapp-font {
        font-size: 36px;
        line-height: 30px;
    }

    .benefits-desc {
        width: 80%;
    }

    .benefits-desc img { 
        margin-top: 30px;
        width: 54px;
        height: 54px;
    }

    .benefits-title {
        font-size: 12px;
        line-height: 19px;
    }

    .benefits-description {
        font-size: 10px;
        line-height: 16px;
    }

    .contact-button {
        margin-top: 25px;
        padding: 16px 40px;
    }


    .fifth-screen {
        margin-top: 100px;
    }

    .how-works {
        display: none;
    }

    .how-works-2 {
        display: block;
        width: 90%;
    }

    .how-works-texts {
        display: none;
    }

    .title {
        font-size: 30px;
    }


    .sixth-screen {
        margin-top: 70px;
    }

    .sixth-screen .p {
        margin-top: 5px;
        font-size: 16px;
        line-height: 30px;
    }

    .clients-blocks {
        flex-wrap: wrap;
        margin-top: 40px;
    }

    .client {
        margin-left: 10px;
        margin-right: 10px;
        width: 120px;
        height: 80px;
        margin-top: -10px;
    }

    .client img {
        margin-top: 1%;
        width: 44px;
        height: 42px;
    }
    
    .client-2 img {
        width: 60px;
        height: 40px;
    }

    .client-4 img {
        width: 40px;
        height: 40px;
    }

    .client .text {
        font-size: 16px;
        margin-top: 5%;
    }

    .sixth-screen .title {
        margin-top: 0px;
        font-size: 28px;
        line-height: 36px;
    }

    .dapp-font-blue {
        font-size: 28px;
    }



    .seventh-screen {
        margin-top: 100px;
        flex-direction: column;
    }

    .ellipse-3 {
        top: -100%;
    }

    .contact-us {
        margin-right: 0px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contact-us .text {
        width: 280px;
        font-size: 14px;
        margin-top: 0;
    }

    .form-logo {
        /* display: none; */
        margin-top: -30%;
        margin-right: 150%;
        width: 140px;
        height: 140px;
        z-index: 2;
    }

    .form {
        margin-left: 0;
        border-radius: 8px;
        width: 320px;
        height: 100%;
    }

    .form-inputs input {
        font-size: 10px;
        border-radius: 4px;
    }

    .name,
    .mail {
        width: 133px;
        height: 27px;
    }

    .telegram {
        width: 270px;
        height: 27px;
    }

    .project-info {
        width: 270px;
        height: 70px;
    }

    .submit-button {
        margin-top: 12px;
        margin-bottom: 12px;
        padding: 12px 29px;
        border-radius: 8px;
        font-size: 10px;
    }

    .att-file {
        margin-top: 0;
        font-size: 8px;
    }

    .attach-file {
        width: 10px;
        height: 11px;
    }


    .footer-line {
        display: none;
    }

    footer ul li{
        display: none;
    }

    .footer-wide-line {
        margin-top: -15%;
    }
}


@media screen and (min-width: 600px) and (max-width: 960px) {
    .ellipse {
        width: 914px;
        height: 914px;
        border-radius: 100%;
        background: rgba(87, 134, 219, 0.58);
        filter: blur(335px);
        position: absolute;
        z-index: 2;
    }

    .ellipse-1 {
        top: -200px;
    }
    
    .rectangle {
        height: 380px;
        background: linear-gradient(260deg, rgba(0, 0, 0, 0.25) 3.23%, rgba(0, 0, 0, 0.00) 109.62%);
        position: absolute;
        z-index: 1;
    }

    .rectangle-1 {
        top: 100px;
    }
    
    .vector {
        width: 2000px;
        height: 300px;
        position: absolute;
        z-index: 2;
    }

    .vector-1 {
        margin-bottom: -200px;
    }

    .vector-2 {
        margin-bottom: -500px;
    }

    .vector-3 {
        margin-top: -50px;
    }



    /* Burger menu */

    header ul li {
        display: none;
    }

    .menu {
        display: block;
    }

    .burger {
        width: 60px;
        height: 35px;
    }

    .burger::before {
        top: 25%;
    }
    
    .burger-checkbox:checked + .burger::before {
        top: 15px;
    }
    
    .burger-checkbox:checked + .burger::after {
        bottom: 15px;
    }

    .menu-list {
        top: -30%;
        width: 300px;
    }

    .menu-item {
        font-size: 26px;
    }

    .menu-list .header-logo {
        width: 110px;
        height: 110px;
    }

    .menu-list span {
        font-size: 36px;
    }

    .menu-list .header-button {
        width: 250px;
        font-size: 16px;
    }

    .menu ul li select {
        width: 70px;
        height: 40px;
        font-size: 16px;
    }
    

    .first-screen {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        margin-top: -10%;
    }

    .f-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .first-screen .dapp-font {
        font-size: 64px;
    }

    .text-title {
        font-size: 30px;
    }

    .text {
        font-size: 24px;
        width: 60%;
    }

    .first-screen-button {
        margin-top: 28px;
        padding: 14px 40px;
        font-size: 18px;
    }

    .ransomware {
        width: 300px;
        height: 300px;
    }



    .second-screen {
        flex-direction: column;
        margin-top: 50px;
    }

    .safebox-img {
        margin-bottom: 12%;
        width: 200px;
        height: 200px;
    }

    .desc {
        width: 450px;
        font-size: 36px;
        line-height: 35px;
    }

    .dapp-text {
        font-size: 36px;
    }

    .vertical-line {
        margin: 2% 0 2% 0;
        width: 100%;
        height: 1px;
    }

    .numbers {
        width: 700px;
        justify-content: center;
        margin-right: 76px;
    }

    .text-1 {
        margin-top: 0;
        margin-left: 24px;
        width: 110px;
        font-size: 18px;
        line-height: 18px;
    }

    .lock {
        display: none;
        width: 250px;
        height: 250px;
        margin: 0;
    }


    .third-screen {
        margin-top: 110px;
    }

    .cloud-lock {
        width: 200px;
        height: 200px;
    }

    .why {
        width: 80%;
        font-size: 36px;
        line-height: 48px;
    }

    .p {
        margin-top: 16px;
        width: 85%;
        font-size: 20px;
        line-height: 28px;
    }


    .fourth-screen {
        margin-top: 100px;
    }

    .fourth-screen h2 {
        font-size: 45px;
        line-height: 60px;
    }

    .fourth-screen .dapp-font {
        font-size: 45px;
        line-height: 30px;
    }

    .benefits-desc {
        width: 70%;
    }

    .benefits-desc img { 
        margin-top: 30px;
        width: 70px;
        height: 70px;
    }

    .benefits-title {
        font-size: 18px;
        line-height: 24px;
    }

    .benefits-description {
        font-size: 16px;
        line-height: 24px;
    }

    .contact-button {
        margin-top: 25px;
        padding: 24px 60px;
        font-size: 24px;
    }


    .fifth-screen {
        margin-top: 150px;
    }

    .how-works {
        display: none;
        width: 750px;
        height: 700px;
    }

    .how-works-2 {
        display: block;
        margin-top: 30px;
        width: 90%;
    }

    .title {
        font-size: 40px;
    }

    .how-works-texts {
        display: none;
        width: 730px;
        margin-left: 100px;
        margin-top: 30px;
    }

    .how-works-text {
        margin-top: 100px;
        margin-right: 30px;
        font-size: 12px;
        width: 140px;
        line-height: 31px;
    }

    .text-up {
        margin-top: 140px;
    }



    .sixth-screen {
        margin-top: 110px;
    }

    .sixth-screen .p {
        margin-top: 10px;
        font-size: 24px
    }

    .clients-blocks {
        flex-wrap: wrap;
        margin-top: 40px;
    }

    .client {
        margin-left: 10px;
        margin-right: 10px;
        width: 150px;
        height: 100px;
        margin-top: -10px;
    }

    .client img {
        margin-top: 1%;
        width: 52px;
        height: 50px;
    }

    .client-2 img {
        width: 80px;
        height: 50px;
    }

    .client-4 img {
        width: 50px;
        height: 50px;
    }

    .client .text {
        font-size: 18px;
        margin-top: 5%;
    }

    .sixth-screen .title {
        margin-top: 0px;
        font-size: 40px;
        line-height: 40px;
    }

    .dapp-font-blue {
        font-size: 40px;
    }


    .seventh-screen {
        margin-top: 100px;
        flex-direction: column;
    }

    .ellipse-3 {
        bottom: -50%;
    }

    .contact-us {
        margin-right: 0px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contact-us .text {
        width: 320px;
        font-size: 14px;
        margin-top: 0;
    }

    .form-logo {
        /* display: none; */
        margin-top: -20%;
        margin-right: 170%;
        width: 200px;
        height: 200px;
        z-index: 2;
    }

    .form {
        margin-top: -15%;
        margin-left: 0;
        border-radius: 12px;
        width: 460px;
        height: 100%;
    }

    .form-inputs input {
        font-size: 12px;
        border-radius: 6px;
    }

    .name,
    .mail {
        width: 198px;
        height: 40px;
    }

    .telegram {
        width: 400px;
        height: 40px;
    }

    .project-info {
        width: 400px;
        height: 100px;
    }

    .submit-button {
        margin: 18px 0 18px 0;
        margin-left: -5px;
        padding: 18px 40px;
        border-radius: 14px;
        font-size: 14px;
    }

    .att-file {
        margin-top: 0;
        font-size: 14px;
    }

    .attach-file {
        width: 16px;
        height: 17px;
    }


    .footer-line {
        display: none;
    }

    footer ul li{
        display: none;
    }

    .footer-wide-line {
        margin-top: -10%;
    }
}

@media screen and (min-width: 960px) and (max-width: 1380px) {
    .header-logo {
        width: 56px;
        height: 56px;
    }
   
    .header ul li{
        font-size: 14px;
        margin-right: 26px;
    }

    .header span {
        font-size: 18px;
    }

    .header-button {
        margin-left: 5%;
        font-size: 12px;
        width: 260px;
        height: 60px;
    }

    .header ul li select {
        width: 50px;
        height: 36px;
    }

    .vector {
        width: 2000px;
        height: 300px;
    }

    .title {
        font-size: 40px;
    }

    .first-screen .dapp-font {
        font-size: 64px;
    }
    
    .text-title {
        font-size: 26px;
    }
    
    .text {
        width: 480px;
        font-size: 24px;
    }

    .first-screen-button {
        font-size: 16px;
    }

    .ransomware {
        width: 400px;
        height: 400px;
    }


    .second-screen {
        margin-top: 100px;
    }

    .safebox-img {
        width: 260px;
        height: 260px;
    }

    .desc {
        width: 400px;
        max-width: 500px;
        font-size: 32px;
    }
    
    .dapp-text {
        font-size: 30px;
    }

    .text-1 {
        width: 150px;
        font-size: 20px;
    }

    .numbers {
        width: 450px;
    }

    .vector-1 {
        margin-bottom: -100px;
    }

    .lock {
        margin-top: -274px;
    }


    .third-screen {
        margin-top: 60px;
    }

    .cloud-lock {
        width: 200px;
        height: 200px;
    }

    .why {
        font-size: 40px;
    }

    .p {
        width: 800px;
        font-size: 18px;
    }



    .fourth-screen h2 {
        font-size: 40px;
    }

    .fourth-screen .dapp-font {
        font-size: 48px;
    }

    .benefits-desc {
        width: 300px;
    }

    .benefits-title {
        font-size: 30px;
    }

    .benefits-description {
        font-size: 15px;
        line-height: 24px;
    }

    .contact-button {
        font-size: 16px;
    }



    .how-works {
        width: 1000px;
        height: 700px;
        margin-top: -100px;
    }

    .how-works-texts {
        width: 1000px;
        margin-left: 75px;
        margin-top: -30px;
    }

    .how-works-text {
        margin-top: 130px;
        margin-right: 45px;
        font-size: 16px;
        width: 200px;
    }
    
    .text-up {
        margin-top: 90px;
    }



    .client {
        width: 210px;
        height: 100px;
    }

    .client img {
        width: 50px;
        height: 46px;
    }

    .client-2 img {
        width: 80px;
        height: 45px;
    }
    
    .client-4 img {
        width: 60px;
        height: 60px;
    }

    .client .text {
        font-size: 18px;
    }

    .dapp-font-blue {
        font-size: 40px;
    }



    .contact-us .text {
        font-size: 20px;
    }

    .form-logo {
        width: 200px;
        height: 200px;
    }

    .form {
        border-radius: 12px;
        width: 460px;
        height: 100%;
    }

    .form-inputs input {
        font-size: 12px;
        border-radius: 6px;
    }

    .name,
    .mail {
        width: 198px;
        height: 40px;
    }

    .telegram {
        width: 400px;
        height: 40px;
    }

    .project-info {
        width: 400px;
        height: 100px;
    }

    .submit-button {
        margin: 18px 0 18px 0;
        margin-left: -5px;
        padding: 18px 40px;
        border-radius: 14px;
        font-size: 14px;
    }

    .att-file {
        margin-top: 0;
        font-size: 14px;
    }

    .attach-file {
        width: 16px;
        height: 17px;
    }

    .social-media {
        width: 36px;
        height: 36px;
    }
}